<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js" defer></script> 
    <script src="/javascripts/chat.js" defer></script>   </head>
  <body>