    <div id="cookies">
        <h1>Uso de cookies</h1>
        <p>El sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar el sitio web, usted acepta el uso de cookies.</p>
        <div class="buttons">
            <button id="aceptar">Aceptar</button>
            <a href="https://www.google.es">
                <button id="rechazar">Rechazar</button>
            </a>
        </div>
    </div>
</body>
</html>