<% if(!cookies) { %>
    <div id="cookies">
        <h1>Uso de cookies</h1>
        <p>El sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar el sitio web, usted acepta el uso de cookies.</p>
        <button id="aceptar">Aceptar</button>
        <button id="rechazar">Rechazar</button>
    </div>
<% } %>
</body>
</html>