<%- include("header", {}) %>
<h1>Welcome to <%= title %>!</h1>
<button id="login-button" onclick="window.location.href='/login'" aria-label="Log in to chat">Log in to chat 🥸</button>
<%- include("footer", {}) %>
